*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(#ffe8e8, #ffb5c8);
    
}
#about{
    background-image: url(/About_page/photo-1606206522398-de3bd05b1615.avif);
    width: 100%;
    height: 360px;
}
#box{
    width: 100%;
    height: 360px;
    background-color: #2a2a2aab;
    color: rgb(252, 252, 252);
    display: flex;
    align-items: center;
    justify-content: center;
}
#box h1{
    font-size: 4.2vw;
}
#content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 90px;
}
#img-about{
    width: 50%;
}
#img-about img{
    border: 0.25vw solid black;
    box-shadow: -2px 2px 0px 0px black;
    border-radius: 8px;
}
#img-abt{
    width: 600px;
    height: 450px;
}
#info{
    width: 50%;
}
#info p{
    text-transform: uppercase;
    font-size: 1.5vw;
    color: #b40036;
    font-weight: 600;
}
#info h2{
    font-size: 3vw;
    line-height: 4vw;
    color: black;
    font-weight: 700;
}
#info h3{
    font-size: 1.3vw;
    line-height: 1.99vw;
}
#info h4{
    font-size: 1.7vw;
    color: black;
}
#submit{
    text-transform: uppercase;
    font-size: 1.2vw;
    font-family: "Inter", sans-serif;
    height: 3vw;
    width: 9vw;
    border-radius: 20px;
    color: white;
    background-color: #ed2e37;
    border: none;
    font-weight: 700;
    letter-spacing: 0.1vw;
}
#submit:hover{
    border: 2px solid #ed2e37;
    color: #ed2e37;
    background-color: white;
}
















.navformobile{
    display: none !important;
}
.navbar-brand img{
    width: 40% ;
    height: auto;
}
.nav-item a{
    color: #0f101a;
    font-weight: 600;
}
.nav-item a:hover{
    color: #ed2e37;
    font-weight: 600;
}

.servicesec h2{
    text-align: center;
    color: white;
    text-shadow: 0.5px 0.5px 10px #8f8f8f;
    margin-bottom: 30px;
}

.faqsec h2{
    text-align: center;
    color: white;
    text-shadow: 0.5px 0.5px 10px #8f8f8f;
    margin-bottom: 30px;
}
.accordion-item{
    background-color: transparent !important;
    border: none !important;
    color: white !important;
}
.accordion-button {
    background-color: #2a2a2a !important;
    color: white !important;
    font-weight: 700;
}
.accordion-button[aria-expanded="true"] {
    background-color: #ed2e37 !important;
    color: white !important;
}
.accordion-button::after {
    background-color: rgba(255, 255, 255, 0.516) !important;;
    border-radius: 50%;
    padding: 2px !important;
}
.footersec{
    width: 100% !important;
    height: 49vh;
    background-color: #b40036;
    color: white !important;
}
.footer img{
    height: auto;
    width: 16%;
    margin-bottom: 20px;
}
.footer p{
    color: white;
    font-weight: 500;
}
.textf h4{
    font-size: 1.2vw;
}
.ico i{
    font-size: 3vw;
    margin-right: 15px;
}
.footersec2{
    width: 100% !important;
    height: 7vh;
    background-color: #2a2a2a;
}
.footersec2 p{
    color: white;
    font-weight: 600;
    font-size: 0.9vw;
}
@media (min-width: 320px) and (max-width: 640px) {

.navformobile{
    display: inherit !important;
    background-color: #ffffff00 !important;
}
.navforlaptop{
    display: none !important;
}
.imglogo img{
    width: 28vw;
}
.navbar-brand img {
    width: 55%;
    height: auto;
}
.mainnav{
    flex-wrap: nowrap !important;
}
.marque{
    height: 10vw;
}
.scrolling h1{
    font-size: 5vw;
}

.accordion-button:focus {
    box-shadow: none !important;
}
.faqsec h2{
    margin: 30px 0px 20px 0px;
}
.footersec {
    height: 105vh;
}
.footer img{
    width: 55%;
}
.ico i {
    font-size: 8vw;
}
.textf h4 {
    font-size: 4.5vw;
}
.footersec2 p {
    font-size: 3.1vw;
}

#about{
    height: 200px;
}
#box{
    width: 100%;
    height: 200px;
}
#box h1{
    font-size: 8vw;
}
#content{
    display: block;
    padding: 0px;
}
#img-abt{
    width: 295px;
    height: 300px;
    margin: 20px 0px;
}
#info{
    width: 100%;
    margin-bottom: 4vw;
}
#info p{
    text-transform: uppercase;
    font-size: 1.5vw;
    color: #b40036;
    font-weight: 600;
}
#info h2{
    font-size: 8vw;
    line-height: 4vw;
    color: black;
    font-weight: 700;
}

#submit{
    font-size: 4.5vw;
    height: 12vw;
    width: 32vw;
}
}
@media (min-width: 475px) and (max-width: 640px) {
    .footersec {
        height: 75vh;
    }
    .textf h4{
        font-size: 3.2vw;
    }
    .ico i{
        font-size: 5vw;
        margin-right: 5px;
    }



    #content{
        display: block;
        padding: 0px;
    }
    #img-abt{
        width: 450px;
        height: 400px;
        margin: 20px 0px;
    }
    #info{
        width: 100%;
        margin-bottom: 4vw;
    }
    #info p{
        text-transform: uppercase;
        font-size: 1.5vw;
        color: #b40036;
        font-weight: 600;
    }
    #info h2{
        font-size: 8vw;
        margin-bottom: 4vw;
    }
    
    #submit{
        font-size: 3.8vw;
        height: 9vw;
        width: 27vw;
    }
}

@media (min-width: 475px) and (max-width: 991px) {
    .navformobile{
        display: inherit !important;
    }
    .navforlaptop{
        display: none !important;
    }
    .imglogo img{
        width: 20vw;
    }
    .footersec {
        height: 48vh;
    }
    #content{
        display: block;
        padding: 0px;
    }
    #img-abt{
        width: 450px;
        height: 400px;
        margin: 20px 0px;
    }
    #info{
        width: 100%;
        margin-bottom: 4vw;
    }
    #info p{
        text-transform: uppercase;
        font-size: 1.5vw;
        color: #b40036;
        font-weight: 600;
    }
    #info h2{
        font-size: 8vw;
        margin-bottom: 4vw;
    }
    
    #submit{
        font-size: 3.8vw;
        height: 9vw;
        width: 27vw;
    }

}